
.create-bucket {
    height: 135px;
    width: 300px;
}

.create-bucket .bucket-key {
    border: 1px solid #a7a7a7;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
    color: #363939;
    width: 100%;
}
